*{
  font-family: Arial, Helvetica;


}
h2 {
  text-align: center;
  letter-spacing: 2px;
  color:#252e3d;

}
.burgerMenu{
  visibility:hidden;
}
#navBar {
  background-color: #0a0621;
  font-weight: bold;
  color: #d13ef2;
  width: 150px;
  position: absolute;
  z-index:1;
  border: solid #d13ef2;

}
ul li{
  margin-bottom:10px;
  margin-left:-20px;
  list-style: none;


}
ul li:hover{
  cursor: pointer;
  background-color:black;
  color:white;
}
.searching {
  border:solid;
  border-radius: 5px;

}
@media only screen and (max-width: 600px) {
    #navBar {
        visibility:hidden;
    }
    .burgerMenu{
      visibility:visible;
      font-weight: bold;
      color:#0a0621;
      border:solid;
      border-radius:5px;
      width:50px;
      background-color:#d13ef2;
    }
    .burgerMenu:hover{
      cursor:pointer;

    }


}
